{% layout none %}

{%- for tag in current_tags -%}
    {%- if tag contains 'limit=' -%}
        {%- assign limit = tag | remove: 'limit=' -%}
    {%- elsif tag contains 'page=' -%}
        {%- assign page = tag | remove: 'page=' -%}    
    {%- elsif tag contains 'sectionId=' -%}
        {%- assign sectionId = tag | remove: 'sectionId=' -%}
    {%- elsif tag contains 'imageRatio=' -%}
        {%- assign image_ratio = tag | remove: 'imageRatio=' -%}
    {%- elsif tag contains 'swipe=' -%}
        {%- assign swipe = tag | remove: 'swipe=' -%}
    {%- endif -%}
{%- endfor -%}

{%- liquid
    assign end = limit | times: page
    assign start = end | minus: limit | plus: 1
-%}

{%- comment %}<locksmith:a025>{% endcomment -%}
  {%- assign locksmith_643c_forloop__size = 0 %}{%- for product in collections[collection.handle].products limit: end -%}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collections[collection.handle], variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_643c_forloop__size = locksmith_643c_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_643c_forloop__index = nil -%}
{%- comment %}</locksmith:a025>{% endcomment -%}
{%- for product in collections[collection.handle].products limit: end -%}
    {%- comment %}<locksmith:329a>{% endcomment -%}
      {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collections[collection.handle], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% if locksmith_643c_forloop__index == nil %}{% assign locksmith_643c_forloop__index = 1 %}{% assign locksmith_643c_forloop__index0 = 0 %}{% else %}{% assign locksmith_643c_forloop__index = locksmith_643c_forloop__index | plus: 1 %}{% assign locksmith_643c_forloop__index0 = locksmith_643c_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_643c_forloop__index == 1 %}{% assign locksmith_643c_forloop__first = true %}{% else %}{% assign locksmith_643c_forloop__first = false %}{% endif %}{% if locksmith_643c_forloop__index == locksmith_643c_forloop__size %}{% assign locksmith_643c_forloop__last = true %}{% else %}{% assign locksmith_643c_forloop__last = false %}{% endif %}{% assign locksmith_643c_forloop__rindex = locksmith_643c_forloop__size | minus: locksmith_643c_forloop__index | minus: 1 %}{% assign locksmith_643c_forloop__rindex0 = locksmith_643c_forloop__size | minus: locksmith_643c_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
    {%- comment %}</locksmith:329a>{% endcomment -%}
    {%- if locksmith_643c_forloop__index >= start -%}
        <div class="product{% if swipe == 'true' %} slider__slide grid__item{% endif %}">
            {% render 'product-grid-layout',
            product_card_product: product,
            portrait_aspect_ratio: '125',
            serial: locksmith_643c_forloop__index,
            sectionId: sectionId,
            media_size: image_ratio,
            hasCountdown: hasCountdown,
            loading: true
        %}
        </div>
    {%- endif -%}
{%- endfor -%}