{% layout none %}

{%- for tag in current_tags -%}
    {%- if tag contains 'limit=' -%}
        {%- assign limit = tag | remove: 'limit=' -%}
    {%- elsif tag contains 'sectionId=' -%}
        {%- assign sectionId = tag | remove: 'sectionId=' -%}
    {%- elsif tag contains 'imageRatio=' -%}
        {%- assign image_ratio = tag | remove: 'imageRatio=' -%}
    {%- elsif tag contains 'swipe=' -%}
        {%- assign swipe = tag | remove: 'swipe=' -%}
    {%- elsif tag contains 'hasCountdown=' -%}
        {%- assign hasCountdown = tag | remove: 'hasCountdown=' -%}
    {%- endif -%}
{%- endfor -%}

{%- comment %}<locksmith:4339>{% endcomment -%}
  {%- assign locksmith_bc1c_forloop__size = 0 %}{%- for product in collections[collection.handle].products limit: limit -%}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collections[collection.handle], variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_bc1c_forloop__size = locksmith_bc1c_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_bc1c_forloop__index = nil -%}
{%- comment %}</locksmith:4339>{% endcomment -%}
{%- for product in collections[collection.handle].products limit: limit -%}
    {%- comment %}<locksmith:c1a3>{% endcomment -%}
      {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collections[collection.handle], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% if locksmith_bc1c_forloop__index == nil %}{% assign locksmith_bc1c_forloop__index = 1 %}{% assign locksmith_bc1c_forloop__index0 = 0 %}{% else %}{% assign locksmith_bc1c_forloop__index = locksmith_bc1c_forloop__index | plus: 1 %}{% assign locksmith_bc1c_forloop__index0 = locksmith_bc1c_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_bc1c_forloop__index == 1 %}{% assign locksmith_bc1c_forloop__first = true %}{% else %}{% assign locksmith_bc1c_forloop__first = false %}{% endif %}{% if locksmith_bc1c_forloop__index == locksmith_bc1c_forloop__size %}{% assign locksmith_bc1c_forloop__last = true %}{% else %}{% assign locksmith_bc1c_forloop__last = false %}{% endif %}{% assign locksmith_bc1c_forloop__rindex = locksmith_bc1c_forloop__size | minus: locksmith_bc1c_forloop__index | minus: 1 %}{% assign locksmith_bc1c_forloop__rindex0 = locksmith_bc1c_forloop__size | minus: locksmith_bc1c_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
    {%- comment %}</locksmith:c1a3>{% endcomment -%}
    <div class="product{% if swipe == 'true' %} slider__slide grid__item{% endif %}">
        {% render 'product-grid-layout',
            product_card_product: product,
            portrait_aspect_ratio: '125',
            serial: locksmith_bc1c_forloop__index,
            sectionId: sectionId,
            media_size: image_ratio,
            hasCountdown: hasCountdown,
            loading: true
        %}
    </div>
{%- endfor -%}